/*COLORS*/

.blue {
    color: #2888d5;
}

.grey {
    color: #7c7c7c;
}

.white {
    color: #fff;
}

.black {
    color: #000 !important;
}

.bg-black {
    background-color: #1f1f1f;
}

.bg-light-grey {
    background-color: #bebcbb;
}

.bg-dark-blue {
    background-color: #161c3b;
}

.bg-blue {
    background-color: #00439c;
}

.opacity {
    opacity: .5;
}

/*FONTS*/

header {
    font-family: Helvetica, Sans-Serif;
}

main,
footer {
    font-family: Arial, Helvetica, sans-serif;
}

/*IMG PROPERTY*/

#black-logo {
    background-color: #000;

}

#lens-icon {
    height: 30px;
}

#black-logo img {
    height: 16px;
}

#ps-plus-logo,
#ps-now-logo,
#logo-returnal {
    height: 60px;
}

#ps-logo-footer {
    height: 70px;
}

#logo-sony-footer {
    height: 50px;
}

main #jumbo,
main #jumbo-itt {
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 700px;
    color: #fff;
}

main #jumbo {
    background-image: url(../img/jumbo-bg.png);
}

main #jumbo-itt {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.dropdown-arrow,
.dropdown-hover {
    height: 10px;
}

.dropdown-hover {
    display: none;
}

/*MISC*/

header ul li {
    padding: 0 .5rem;
}

header a {
    text-decoration: none;
    color: #000;
}

footer a{
    color: #fff;
}


.my_content img {
    border-radius: 15px;
}

.dropdown-toggle::after {
    display: none !important;
}

.ps-items {
    border: 3px solid transparent;
}

.ps-items img {
    height: 150px;
}

.ps-items p{
    font-size: .8rem;
}


/*HOVER*/

header a:hover {
    color: #1f81d6 !important;
}

header a:hover .dropdown-arrow {
    display: none;
}

header a:hover .dropdown-hover {
    display: initial;
    transform: rotate(180deg);
}

main .ps-items:hover {
    border-bottom: 3px solid #2888d5;
}
