.blue {
    color: #2888d5;
}

.grey {
    color: #7c7c7c;
}

.white {
    color: #fff;
}

.bg-black {
    background-color: #1f1f1f;
}

.bg-light-grey {
    background-color: #bebcbb;
}

.bg-dark-blue {
    background-color: #161c3b;
}

.bg-blue {
    background-color: #00439c;
}

.blue-border {
    border-bottom: 3px solid #2888d5;
}

.opacity {
    opacity: .5;
}

#black-logo {
    height: 40px;
    background-color: #000;
}

header ul li {
    padding: 0 .5rem;
}

#black-logo img {
    height: 16px;
}

#ps-plus-logo,
#ps-now-logo,
#logo-returnal {
    height: 60px;
}

#ps-logo-footer {
    height: 70px;
}

#logo-sony-footer {
    height: 50px;
}

main #jumbo,
main #jumbo-itt {
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 600px;
    color: #fff;
}

main #jumbo {
    background-image: url(../img/jumbo-bg.png);
}

main #jumbo-itt {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}


.my_content img {
    border-radius: 15px;
}




