

#black-logo {
    height: 30px;
    background-color: #000;
}

#black-logo img {
    height: 16px;
}

header ul li {
    padding: 0 .5rem;
}

main #jumbo {
    background-image: url(../img/jumbo-bg.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 600px;
    color: #fff;
}

.my_content img {
    border-radius: 15px;
}